@font-face {
  font-family: "bitstream_vera_sans_monoroman";
  src: url("fonts/VeraMono-webfont.eot");
  src: url("fonts/VeraMono-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/VeraMono-webfont.woff2") format("woff2"),
    url("fonts/VeraMono-webfont.woff") format("woff"),
    url("fonts/VeraMono-webfont.ttf") format("truetype"),
    url("fonts/VeraMono-webfont.svg#bitstream_vera_sans_monoroman")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  --main-bg-color: #202c39;
  --secondary-bg-color: #283845;
  --main-accent-color: #db6f33;
  --secondary-accent-color: #65afff;
  height: 100%;
}

body {
  height: 100%;
  background: -webkit-radial-gradient(
      circle,
      var(--secondary-bg-color),
      var(--main-bg-color)
    )
    fixed;
  font-family: "bitstream_vera_sans_monoroman";
  color: white;
  display: flex;
  margin: 0;
}

a {
  color: var(--main-accent-color);
  font-weight: bold;
  padding: 2px;
}

a:hover,
a:focus {
  color: var(--main-bg-color);
  text-decoration: none;
  background-color: var(--main-accent-color);
  box-shadow: -3px 3px 0 var(--secondary-accent-color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;

  /* margin: auto; */
}

.container-child {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-basis: 50%; */
}

.title {
  color: var(--main-accent-color);
  font-size: 60px;
  margin: 0;
}

.subtitle {
  color: #aaa;
  font-size: 16px;
  margin: 0;
}

.short-description {
  font-size: 22px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--main-bg-color);
  padding: 5px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.link > a {
  margin-left: 2px;
  margin-right: 2px;
}

.link > img {
  margin-left: 6px;
  margin-right: 6px;
}
