@font-face {
  font-family: "bitstream_vera_sans_monoroman";
  src: url("fonts/VeraMono-webfont.eot");
  src: url("fonts/VeraMono-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/VeraMono-webfont.woff") format("woff"),
    url("fonts/VeraMono-webfont.ttf") format("truetype"),
    url("fonts/VeraMono-webfont.svg#bitstream_vera_sans_monoroman")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  --main-bg-color: #0c0c0c;
  --secondary-bg-color: #0a0a0a;
  --main-accent-color: #ff7200;
  --secondary-accent-color: white;
  height: 100%;
}
/*
  242325 29262b ff7200 65afff
  202c39 283845 db6f33 65afff;
  0a0908 0a0908 ff7200 65afff
*/

::selection {
  background: var(--main-accent-color);
  color: var(--main-bg-color);
}

body {
  height: 100%;
  background-color: var(--main-bg-color);
  font-family: "bitstream_vera_sans_monoroman";
  color: white;
  display: flex;
  margin: 0;
}

a {
  color: var(--main-accent-color);
  font-weight: bold;
  padding: 2px;
}

a:hover,
a:focus {
  color: var(--main-bg-color);
  text-decoration: none;
  background-color: var(--main-accent-color);
  outline: 1px dashed var(--secondary-accent-color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;

  /* margin: auto; */
}

.container-child {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-basis: 50%; */
}

.title {
  color: var(--main-accent-color);
  font-size: 60px;
  margin: 0;
}

.subtitle {
  color: #aaa;
  font-size: 14px;
  margin: 0;
}

.short-description {
  font-size: 22px;
}

.links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--main-bg-color);
  padding: 5px;
  max-width: 600px;
}

.link {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: center; */
  /* align-items: center; */
  width: max-content;
  padding: 5px;
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  margin: 4px;
}

.link > a {
  margin-left: 2px;
  margin-right: 2px;
}

.link > img {
  margin-left: 6px;
  margin-right: 6px;
}
